@charset "UTF-8";


/* ----------------------------------------------------------------------- */	
/* Fonts */
/* ----------------------------------------------------------------------- */

@font-face {
    font-family: 'EurostileLTStdMedium';
    src: url('../fonts/eurostileltstd-webfont.eot');
    src: url('../fonts/eurostileltstd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eurostileltstd-webfont.woff') format('woff'),
         url('../fonts/eurostileltstd-webfont.ttf') format('truetype'),
         url('../fonts/eurostileltstd-webfont.svg#EurostileLTStdMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'EurostileLTStdBold';
    src: url('../fonts/eurostileltstd-bold-webfont.eot');
    src: url('../fonts/eurostileltstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eurostileltstd-bold-webfont.woff') format('woff'),
         url('../fonts/eurostileltstd-bold-webfont.ttf') format('truetype'),
         url('../fonts/eurostileltstd-bold-webfont.svg#EurostileLTStdBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ----------------------------------------------------------------------- */


/* ----------------------------------------------------------------------- */	
/* Misc/Universal */
/* ----------------------------------------------------------------------- */
body { margin: 0 auto; padding: 0; background: #000000; }
.mr_clear { clear: both; }
.mr_clear2 { clear: both; height: 100px; }
.mr_clear3 { clear: both; height: 450px; }
/* ----------------------------------------------------------------------- */

/* Wrappers - holds background images in inline styles */
/* ----------------------------------------------------------------------- */
#mr_wrapperHome { margin: 0 auto; padding: 0; min-width: 1024px; height: 900px;
	background: #000000;
} /* home page */
#mr_wrapperInside { margin: 0 auto; padding: 0; min-width: 1024px; 
} /* inside pages */
/* ----------------------------------------------------------------------- */
#container { margin: 0 auto; width: 940px;}

/* ----------------------------------------------------------------------- */	
/* Header */
/* ----------------------------------------------------------------------- */
#mr_header { margin: 0; width: 940px; }
	.mr_headerColL { float: left; display: inline; width: 375px; }
	.mr_headerColL_text {
    text-align: left;
    font: 16px Arial, sans-serif;
    letter-spacing: 1px;
    color: #FF0000;
}
		.mr_headerColL_text a { text-decoration: none; color: #bdd73c;}
		.mr_headerColL_text a:focus, .mr_headerColL_text a:hover { text-decoration: underline; color: #fff;}

	
	
	.mr_headerColR { float: right; display: inline; width: 565px;
		margin-top: 50px;
			height: 40px;

	}
		.mr_headerColR_text {
    text-align: center;
    font: 12px/18px 'Arial Rounded MT Bold';
    letter-spacing: 1px;
    color: #fff;
}
		.mr_headerColR_text a {color: #bdd73c;}
		.mr_headerColR_text a:focus, .mr_headerColR_text a:hover { text-decoration: underline; color: #fff;}
	  
			
	

	
/* ----------------------------------------------------------------------- */	
/* Services */
/* ----------------------------------------------------------------------- */
#mr_body { margin: 0 auto;
	position: absolute;
	top: 162px;
}
	
	
	/* ############## Services Styles ############## */
	.mr_servicesBar { margin: auto; padding: 0; width: 900px; background-image: url(../images/S117_black70.png); color:#FFFFFF;
	}
		.mr_servicesBarBox { margin: auto; padding: 15px; }
		
		
			.mr_servicesBarBox a { text-decoration: none; color: #fff; }
			.mr_servicesBarBox a:focus, .mr_headlineBarBox a:hover { text-decoration: underline; color: #fff; }
			.mr_servicesBarBoxL { float: left; display: inline; width: 400px; height: 550px;
				background-color: #000000;
				padding: 10px;
				margin-right: 30px;
			}
				.mr_servicesBarBox h1 { margin: 0; padding: 0; font: 18px/20px 'EurostileLTStdMedium', Arial, sans-serif; color: #BDD73C
			}
				.mr_servicesBarBox p { margin: 0; padding: 4px 0 0 0;
					font: lighter 12px/14px Georgia, "Times New Roman", Times, serif;
				}
				.mr_servicesBarBox ul { margin: 0; padding: 0;
					color: #fff;
					font: 12px/16px Georgia, "Times New Roman", Times, serif;
				}
				.mr_servicesBarBox ul li { list-style: none; }
				
			.mr_servicesBarBoxR { float: right; display: inline; width: 400px; height: 550px;
			background-color: #000000;
			margin-left: 0;
			padding: 10px;
		}
			.mr_servicesBarBoxLeftBig { float: left; display: inline; width: 500px; height: 250px;
				background-color: #000000;
				padding: 10px;
				margin-right: 30px;
			}
			
			.mr_servicesBarBoxRightBig { float: right; display: inline; height: 250px;
			background-color: #000000;
			margin-left: 0;
			padding: 10px;
		}
		.mr_servicesBarBoxLeftBig2 { float: left; display: inline; width: 450px; height: 490px;
				background-color: #000000;
				padding: 10px;
				margin-right: 30px;
			}
			
			.mr_servicesBarBoxRightBig2 { float: right; display: inline; width: 350px;height: 490px;
			background-color: #000000;
			margin-left: 0;
			padding: 10px;
		}

			

/* step carousel */
.stepcarousel { position: relative; /*leave this value alone*/ /*border: 10px solid black;*/
overflow: scroll; /*leave this value alone*/ width: 850px; /*Width of Carousel Viewer itself*/ height: 349px; /*Height should enough to fit largest content's height*/ margin: 0px auto auto auto; }
.stepcarousel .belt { position: absolute; /*leave this value alone*/ left: 0; top: 0;  }
.stepcarousel .panel { float: left; /*leave this value alone*/ overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/ margin: 10px 30px 10px 30px; /*margin around each panel*/ /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */ }



/* ----------------------------------------------------------------------- */	
/* FOOTER */
/* ----------------------------------------------------------------------- */

#boiler{
	background: url(../images/S117_Footer2.png) no-repeat 0 0;
	height: 150px;
	width: 940px; margin: 0 auto;
	position: absolute;
	top: 300px;
}
	.boiler_text {
		text-align: center;
		color: black;
		display: inline;
		position: absolute;
		top: 200px;
		right: 50px;
		font: 10px/18px 'EurostileLTStdMedium', Arial, sans-serif;
		letter-spacing: 1px;
	}
	.boiler_text a { text-decoration: none; color: #000;}
	.boiler_text a:focus, .boiler_text a:hover { text-decoration: underline; }
	
	
	#boilerinside{
		position: relative;
		background: url(../images/S117_Footer2inside.png) no-repeat 0 0;
		height: 150px;
		width: 940px; margin: 0 auto;
	}
		.boilerinside_text {
			text-align: center;
			color: black;
			display: inline;
			position: absolute;
			top: 200px;
			right: 50px;
			font: 10px/18px 'EurostileLTStdMedium', Arial, sans-serif;
			letter-spacing: 1px;
		}
		.boilerinside_text a { text-decoration: none; color: #000;}
		.boilerinside_text a:focus, .boiler_text a:hover { text-decoration: underline; }


	
